*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.logo{
  margin:20px;
}
.dropdown-menu {
  background-color: lightgrey;
  position: absolute;

  display: none;

}
.position-relative{

}
.dropdown-menu li{
  list-style: none;
}
.row{
  display: flex;
  justify-content: space-between;
  margin:20px;
}
.list1 ul  ,.list3 ul {
  display: flex;
}
.list1 ul li{
  list-style: none;
  padding: 20px;
}
.list3 ul :first-child{
  background-color: lightgrey;
  padding:10px;
  margin:10px;
  border-radius: 10px;
  list-style: none;
}
.list3 ul :last-child{
  background-color: black;
  padding:10px;
  margin:10px;
  color:#fff;
  border-radius: 10px;
  list-style: none;
}
